*,
*::before,
*::after {
    box-sizing: border-box;
    line-height: 1.7;
    font-size: 16px;
    color: #333;
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
}

body {
    min-height: 100vh;
    width: 90vw;
    margin: 0 auto;
}

/* navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 20px
}

.nav-items {
    display: flex;
    align-items: center;
}

.nav-item {
    margin-left: 20px;
    font-size: 2rem
}